body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
    margin-top: 40px;
}

.container {
    background: white;
    padding: 20px;
    width: 300px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px #ccc;
}

input {
    padding: 8px;
    width: 70%;
}

button {
    padding: 8px;
    cursor: pointer;
}

li {
    margin: 8px;
    text-align: left;
    cursor: pointer;
}
